* {
  margin: 0;
  padding: 0;
}
.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: monospace;
  height: 100vh;
  color: white;
  font-size: 50px;
  background-image: url("moon-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coming-soon h1 {
  margin-top: 10px;
}

.p-info {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: 100;
}

.p-info:first-of-type {
  font-size: 30px;
  padding: 0px 0px;
}

.coming-soon-heading {
    text-transform: uppercase;
    font-weight: bold;
  }

@media only screen and (max-width: 700px) {
  .coming-soon {
    font-size: 20px;
    scrollbar-width: 0px;
  }

  .coming-soon h1 {
    margin-top: 100px;
  }

  .p-info:first-of-type {
    font-size: 15px;
    text-align: center;
    padding: 0px 0px;
  }

  .coming-soon-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .p-info:last-of-type {
    text-align: center;
    font-size: 15px;
  }
}
