* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.coming-soon-banner{
  background-image: url("./assets/moon-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: monospace;
  height: 100vh;
  color: white;
  font-size: 50px;
}

img{
  width: 200px;
  margin: 10px 0px;
  padding-left: 50px;
}

.coming-soon h1 {
  margin-top: 20px;
}

.p-info {
  font-size: 20px;
  margin: 15px 0px;
  font-weight: 100;
}

.p-info:first-of-type {
  font-size: 30px;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.056);
}

@media only screen and (max-width: 700px) {
  .coming-soon {
    font-size: 20px;
    scrollbar-width: 0px;
  }

  .coming-soon h1 {
    margin-top: 100px;
  }

  .p-info:first-of-type {
    font-size: 15px;
    text-align: center;
    padding: 0px 0px;
  }

  .p-info:last-of-type {
    text-align: center;
    font-size: 15px;
  }

  img{
    width: 200px;
    margin-top: 20px;
    padding-left: 30px;
  }
  
}
